.container__1 {
  /* border: 2px solid blue; */
  height: 15vh;
  /* background-color: #00000013; */
  background-image: url("https://www.transparenttextures.com/patterns/nistri.png");
}

.logo__container {
  /* border: 2px solid red; */
  margin: auto;
  margin-bottom: 30px;
}

.logo__img {
  /* border: 2px solid red; */
  width: 14vh;
  height: 13vh;
  border-radius: 50%;
  margin: 5px 0px 5px 5px;
  margin: auto;
}

.container__2,
.container__3 {
  height: 15vh;
}

.header_title {
  /* border: 2px solid red; */
  font-family: "Overlock", cursive !important;
  font-weight: 800 !important;
  font-size: 2.3vw !important;
}

.header_subtitle {
  font-family: "Overlock", cursive !important;
  font-weight: 800 !important;
  font-size: 1.2vw !important;
}

.btn__login,
.btn__signIn {
  background-color: #e74c3c !important;
  color: white !important;

  border-radius: 5px;
  font-size: 1.3vw !important;
  font-family: "Overlock", cursive !important;
}

.btn__login:hover,
.btn__signIn:hover {
  background-color: black !important;
  color: white !important;
}

.nav__text {
  /* width: 16% !important; */
  text-decoration: none;
}
