.container {
  /* border: 2px solid red; */
  height: 80vh;
}

.container__left,
.container__right
/* .container__date__editor */ {
  /* border: 2px solid blue; */
}

.container__upload__1 {
  /* border: 2px solid red; */
  /* height: 10%; */
}

.btn__browse {
  /* border: 2px solid red; */
  background-color: #16a085;
  color: white;
  width: 15% !important;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Bree Serif", serif !important;
}

.btn__browse:hover {
  background-color: #108069;
}

.container__upload__2 {
  /* border: 2px solid red; */
  margin-top: 2vh;
}

.container__upload__box {
  /* border: 2px solid blue; */
  background-color: rgba(209, 206, 206, 0.904);
  height: 55vh;
}

/* .container__btn {
  border: 2px solid blue;
} */

.btn__cancel,
.btn__delete,
.btn__preview,
.btn__update,
.btn__publish {
  color: white;
  width: 18%;
  padding: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Bree Serif", serif !important;
}

.btn__cancel {
  background-color: #95a5a6;
}

.btn__cancel:hover {
  background-color: #7d8181;
}

.btn__publish {
  background-color: #16a085;
}

.btn__publish:hover {
  background-color: #108069;
}

.btn__delete {
  background-color: #e74c3c;
}

.btn__delete:hover {
  background-color: #da4534;
}

.btn__preview {
  background-color: #e67e22;
}

.btn__preview:hover {
  background-color: #d4711a;
}

.btn__update {
  background-color: #2980b9;
}

.btn__update:hover {
  background-color: #216b9c;
}
/* 
.btn__preview,
.btn__update,
.btn__publish {
  background-color: #16a085;
} */
