/* .container {
  border: 2px solid red;
} */

.container_left {
  /* border: 2px solid blue; */
  height: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/business/business2.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container_right {
  /* border: 2px solid blue; */
  height: 100%;
}

.container_right__1 {
  /* border: 2px solid deeppink; */
  height: 32%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/sports/sports1.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container_right__2 {
  /* border: 2px solid orange; */
  height: 32%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/business/business3.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container_right__3 {
  /* border: 2px solid red; */
  height: 32%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/other/queen.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container_left:hover,
.container_right__1:hover,
.container_right__2:hover,
.container_right__3:hover {
  transition: background-position 1s;
  transition: padding 1s;
  padding: 5px 0;
}
