.container__1 {
  margin: 20px auto;
  /* border: 2px solid blue; */
}

.container__left {
  /* border: 2px solid red; */
  height: 50vh;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/business/business1.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container__right {
  /* border: 2px solid green; */
  height: 50vh;
}

.container__top {
  /* border: 2px solid red; */
  height: 24vh;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/tech/tech1.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container__bottom {
  /* border: 2px solid blue; */
  height: 24vh;
}

.container__bottom_left {
  /* border: 2px solid red; */
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/entertainment/entertainment1.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container__bottom_right {
  /* border: 2px solid red; */
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../../../assets/images/sports/sports3.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.container__left:hover,
.container__top:hover,
.container__bottom_left:hover,
.container__bottom_right:hover {
  transition: background-position 1s;
  /* background-position: -5px; */
  transition: padding 1s;
  padding: 5px;
}
