.container__bar {
  /* border: 2px solid red; */
  /* margin: 15px auto; */
}

.vertical_stripe {
  /* border: 2px solid black; */
}

.container__content {
  /* border: 2px solid black; */
}

.container__category {
  /* border: 2px solid blue; */
}

.category__text {
  /* border: 2px solid orange; */
  font-family: "Bree Serif", serif !important;
  font-size: 1.6vw !important;
  margin: 10px 10px auto !important;
}

.container__viewall {
  /* border: 2px solid blue; */
}

.viewall__text {
  /* border: 2px solid orange; */
  margin: 20px auto;
  color: #7f8c8d;
  font-family: "Bree Serif", serif !important;
  font-size: 1vw !important;
  font-style: italic;
  cursor: pointer;
  margin: 15px auto !important;
}

.viewall__text:hover {
  color: red;
}
