.container__main {
  /* border: 2px solid red; */
  width: 100%;
}

.container__card {
  /* border: 2px solid blue; */
  /* width: 45% !important; */
  /* max-width: 200px !important; */
  /* min-width: 49%; */
  height: 40vh;
  /* width: 100% !important; */
  width: 32vw !important;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-bottom: 2vh !important;
}

.container__card:hover {
  transition: background-position 1s;
  transition: padding 1s;
  padding: 5px;
}
