.card__tag__container {
  /* border: 2px solid blue; */
  /* height: 100%;
  width: 100%; */
  /* position: relative; */
  /* margin-top: -25%; */
  padding: 5px 15px;
}

.tag_text {
  /* border: 2px solid yellow; */
  color: white;
  font-family: "Acme", sans-serif !important;
}
