.card__tag__container {
  /* border: 2px solid blue; */
  padding: 5px 15px;
}

.chip__text {
  width: fit-content;
  font-family: "Bree Serif", serif !important;
  color: white !important;
  margin-bottom: 2%;
  border-radius: 5px !important;
  font-size: 1vw !important;
  padding: 0vw !important;
}

.headline_text {
  /* border: 2px solid yellow; */
  color: white;
  font-family: "Bree Serif", serif !important;
  font-size: 1.5vw !important;
}

.date_text {
  color: white;
  font-size: 0.8vw !important;
}
