.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* AppBar */
/* .css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  background-color: #3b3b98 !important;
} */

/* Drawer Close Arrow */
/* .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: white !important;
} */

/* Mini-Drawer */
/* .css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #3b3b98 !important;
} */

/* Expanded Drawer */
/* .css-1hsz34s-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #3b3b98 !important;
  color: white;
} */
