html {
  font-family: "Bree Serif", serif;
  /* font-size: 0.8rem; */
}

body {
  /* border: 2px solid red; */
  width: 65%;
  /* height: 150vh; */
  margin: auto;

  /* font-family: "Acme", sans-serif; */
  font-family: "Bree Serif", serif;
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Overlock", cursive; */
  /* font-family: "Roboto Condensed", sans-serif; */
}

/* 
font-family: 'Acme', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Overlock', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #718093;
  border-radius: 5px;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  /* background-color: #205a76; */
  background-color: #ecf0f1;
}

::-webkit-scrollbar-corner {
  background-color: #ecf0f1;
}
