/* .container {
  border: 2px solid red;
} */

.subcontainer__1,
.subcontainer__2,
.subcontainer__3,
.subcontainer__4 {
  /* border: 2px solid blue; */
  height: 24%;
  /* background-image: url("../../../assets/images/other/gallery1.png"); */
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
