.nav__tabs {
  width: 100%;
  color: black !important;
  box-shadow: 0px 6px 21px -6px rgb(0 0 0 / 75%);
}

.nav__text {
  color: black;
  font-family: "Bree Serif", serif !important;
  font-weight: 700 !important;
  font-size: 1.2vw !important;
  text-decoration: none;
}
