.container__body {
  /* border: 2px solid #16a085; */
  height: 100vh;
}

/* --------------------------Left Column----------------------------- */

.container__body_left {
  /* border: 2px solid green; */
}

.container__body_left__1 {
  /* border: 2px solid #8e44ad; */
}

.container__body_left__2 {
  /* border: 2px solid blue; */
}

.container__body_left__3 {
  /* border: 2px solid red; */
}

/* --------------------------Right Column----------------------------- */

.container__body_right {
  /* border: 2px solid green; */
}

.container__body_right__1 {
  /* border: 2px solid blue; */
  height: 34%;
}

.container__body_right__2 {
  /* border: 2px solid red; */
  height: 66%;
}

/* --------------------------Category Bar----------------------------- */

.container__category__bar {
  /* border: 2px solid rgb(2, 236, 119); */
  /* height: 20%; */
}

.container__content {
  border: 2px solid black;
  /* height: 80%; */
  margin: 20px 0 !important;
  height: 50vh;
}
